<h1>BOSH Release Index</h1>
<br />
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
	<th>Rating</th>
	<th>Downloads
    <th>User</th>
  </tr>

<% @releases.each do |release| %>
  <tr>
    <td><%= link_to release.name, release %></td>
    <td><%= release.rating %>
	<td><%= release.versions.last.downloads %>
	<td><%= release.user.username if release.user %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Release', new_release_path, :class => "btn" %>
