<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @release.name %>
</p>

<p>
	<b>Published By:</b>
	<%= @release.user.username %>
</p>

<p>
  <b>Description:</b>
  <%= @release.description %>
</p>

<p>
  <b>Source URL:</b>
  <a href="<%= @release.source_url %>" target="_blank"><%= @release.source_url %></a>
</p>

<p>
  <b>Versions: </b>
  <% @release.versions.each do |version| %>
	<a href="/releases/<%= @release.id %>/version/<%= version.version_number %>/download" target="_blank"><%= version.version_number %></a>
  <% end %>
</p>