<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @release.name %>
</p>

<p>
  <b>Description:</b>
  <%= @release.description %>
</p>

<p>
  <b>Source URL:</b>
  <%= @release.source_url %>
</p>

<p>
  <b>Versions: </b>
  <% @release.versions.each do |version| %>
	<%= link_to version.version_number, version.download_url %>
  <% end %>
</p>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
