<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @release.name %>
</p>

<p>
	<b>Published By:</b>
	<%= @release.user.username %>
</p>

<p>
  <b>Description:</b>
  <%= @release.description %>
</p>

<p>
  <b>Source URL:</b>
  <a href="<%= @release.source_url %>" target="_blank"><%= @release.source_url %></a>
</p>

<p>
  <b>Versions: </b>
  <% @release.versions.each do |version| %>
	<a href="/releases/<%= @release.id %>/version/<%= version.version_number %>/download" target="_blank"><%= version.version_number %></a>
  <% end %>
</p>

<% if user_signed_in? && current_user.id == @release.user.id %>
	<a class="btn" data-toggle="modal" href="#newVersionModal" >New Version</a>
<% end %>



<div class="modal hide" id="newVersionModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>New Version of <%= @release.name %></h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>