<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @release.name %>
</p>

<p>
  <b>Description:</b>
  <%= @release.description %>
</p>

<p>
  <b>Source URL:</b>
  <a href="<%= @release.source_url %>" target="_blank"><%= @release.source_url %></a>
</p>

<p>
  <b>Versions: </b>
  <% @release.versions.each do |version| %>
	<a href="<%= version.download_url %>" target="_blank"><%= version.version_number %></a>
  <% end %>
</p>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
