<!DOCTYPE html>
<html lang="en">
<head>
  <title>BOSHDB</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: url('<%= asset_path "background.png" %>')">
<div class="navbar">
	<div class="navbar-inner">
    	<div class="container">
      		<ul class="nav">
			  <li><a href="/"><h3>BOSHDB</h3></a></li>
			  <li class="divider-vertical"></li>
			  <li><a href="/releases"><div style="padding-top:4px"><h4>All Release</h4></div></a></li>
			  <% if user_signed_in? %>
			  	<li><a href="/releases/new"><div style="padding-top:4px"><h4>New Release</h4></div></a></li>
		  	  <% end %>
			</ul>
			<ul class="nav pull-right">
				<% if user_signed_in? %>
					<li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
					<li><a href="/users/sign_out">Sign Out</a></li>
				<% else %>
					<li><a href="/users/sign_in">Sign In</a></li>
					<li><a href="/users/sign_up">Sign Up</a></li>
				<% end %>
			</ul>
    	</div>
  	</div>
</div>
<div class="container">
	<div class="alert alert-error"><h3><b>Warning: This is a rapidly-iterated live beta. Accounts and Releases are subject to deletion!</b></h3></div><br />
	<%= yield %>
</div>
</body>
</html>
